<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xin.dormitory">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".Utility.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Common.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Common.RegisterActivity" />
        <activity
            android:name=".Houseparent.LoginHActivity"
            android:label="宿舍管理"
            android:launchMode="singleTop" />
        <activity
            android:name=".Student.LoginSActivity"
            android:label="宿舍管理"
            android:launchMode="singleTop" />
        <activity
            android:name=".Student.MyDormitory"
            android:label="我的宿舍"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.LoginSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.LoginSActivity" />
        </activity>
        />
        <activity
            android:name=".Student.SelfInfoActivity"
            android:label="个人信息"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.LoginSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.LoginSActivity" />
        </activity>
        />
        <activity
            android:name=".Student.AlterSelfInfoActivity"
            android:label="修改信息"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.SelfInfoActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.SelfInfoActivity" />
        </activity>
        <activity
            android:name=".Student.DormitoryAffairsActivity"
            android:label="宿舍事务"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.LoginSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.LoginSActivity" />
        </activity>
        <activity android:name=".Student.CheckEleAndWaterActivity" />
        <activity
            android:name=".Student.RepairApplicationActivity"
            android:label="维修申请"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.MyDormitory"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.MyDormitory" />
        </activity>
        <activity
            android:name=".Houseparent.ManagerRepairActivity"
            android:label="管理维修"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.LoginHActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Houseparent.LoginHActivity" />
        </activity>
        <activity
            android:name=".Houseparent.ManagerAnnouncementActivity"
            android:label="公告管理"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.LoginHActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Houseparent.LoginHActivity" />
        </activity>
        <activity
            android:name=".Houseparent.CheckStayAndDepartActivity"
            android:label="离宿/留宿情况"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.LoginHActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Houseparent.LoginHActivity" />
        </activity>
        <activity
            android:name=".Houseparent.ManagerSignUpActivity"
            android:label="签到相关"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.LoginHActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Houseparent.LoginHActivity" />
        </activity>
        <activity
            android:name=".Houseparent.UnhandledRepairActivity"
            android:label="未处理申请"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.ManagerRepairActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Houseparent.ManagerRepairActivity" />
        </activity>
        <activity
            android:name=".Houseparent.HandledRepairActivity"
            android:label="已处理申请"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.ManagerRepairActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Houseparent.ManagerRepairActivity" />
        </activity>
        <activity
            android:name=".Houseparent.RepairDetailsActivity"
            android:label="申请详情"
            android:launchMode="singleTop" />
        <activity
            android:name=".Houseparent.CreateAnnouncementActivity"
            android:label="发布新公告"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.ManagerAnnouncementActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Houseparent.ManagerAnnouncementActivity" />
        </activity>
        <activity
            android:name=".Houseparent.CheckAnnouncementActivity"
            android:label="已发布公告"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.ManagerAnnouncementActivity" />
        <activity
            android:name=".Student.DepartRegisterActivity"
            android:label="离宿登记"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.DormitoryAffairsActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.DormitoryAffairsActivity" />
        </activity>
        <activity
            android:name=".Student.StayRegisterActivity"
            android:label="留宿登记"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.DormitoryAffairsActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.DormitoryAffairsActivity" />
        </activity>
        <activity
            android:name=".Houseparent.SelfInfoHActivity"
            android:label="个人信息"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.LoginHActivity" />
        <activity
            android:name=".Houseparent.CheckStayStudentsActivity"
            android:label="留宿信息"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.CheckStayAndDepartActivity" />
        <activity
            android:name=".Houseparent.CheckDepartStudentsActivity"
            android:label="离宿信息"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.CheckStayAndDepartActivity" />
        <activity
            android:name=".Houseparent.StayStudentsDetailsActivity"
            android:label="留宿详情"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.CheckStayStudentsActivity" />
        <activity
            android:name=".Houseparent.DepartStudentsDetailsActivity"
            android:label="离宿详情"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.CheckDepartStudentsActivity" />
        <activity
            android:name=".Houseparent.AnnouncementDetailActivity"
            android:label="公告详情"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.CheckAnnouncementActivity" />
        <activity
            android:name=".Student.CheckNoticesActivity"
            android:label="通知"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.LoginSActivity" />
        <activity
            android:name=".Student.CheckAnnouncementNoticesActivity"
            android:label="公告通知"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.CheckNoticesActivity" />
        <activity
            android:name=".Student.CheckSignNoticesActivity"
            android:label="签到通知"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.CheckNoticesActivity" />
        <activity
            android:name=".Student.CheckAnnouncementDetailsActivity"
            android:label="公告详情"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.CheckAnnouncementNoticesActivity" />
        <activity
            android:name=".Houseparent.SignRecordSituationActivity"
            android:label="签到情况"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.ManagerSignUpActivity" />
        <activity
            android:name=".Houseparent.CheckUnsignedStudentsActivity"
            android:label="未签到学生"
            android:launchMode="singleTop"
            android:parentActivityName=".Houseparent.SignRecordSituationActivity" />
        <activity
            android:name=".Student.PostsListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.LoginSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.LoginSActivity" />
        </activity>
        <activity
            android:name=".Student.PostsChatActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.PostsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.PostsListActivity" />
        </activity>
        <activity
            android:name=".Student.AddPostsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.PostsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.PostsListActivity" />
        </activity>

        <service
            android:name=".Student.ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Student.AddContactsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Student.PostsChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.PostsChatActivity" />
        </activity>
        <activity android:name=".Student.AddContactsHActivity"></activity>
    </application>

</manifest>