<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xin.dormitory">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginHActivity" />
        <activity
            android:name=".LoginSActivity"
            android:label="宿舍管理" />
        <activity
            android:name=".dormitoryActivity"
            android:label="宿舍天地" />
        <activity
            android:name=".MyDormitory"
            android:label="我的宿舍" />
        <activity
            android:name=".SelfInfoActivity"
            android:label="个人信息"/>
        <activity
            android:name=".AlterSelfInfoActivity"
            android:label="修改信息"/>
        <activity
            android:name=".DormitoryAffairsActivity"></activity>
    </application>

</manifest>