<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xin.dormitory">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utility.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Common.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Common.RegisterActivity" />
        <activity android:name=".Houseparent.LoginHActivity" />
        <activity
            android:name=".Student.LoginSActivity"
            android:label="宿舍管理" />
        <activity
            android:name=".Student.dormitoryActivity"
            android:label="宿舍天地" />
        <activity
            android:name=".Student.MyDormitory"
            android:label="我的宿舍" />
        <activity
            android:name=".Student.SelfInfoActivity"
            android:label="个人信息" />
        <activity
            android:name=".Student.AlterSelfInfoActivity"
            android:label="修改信息" />
        <activity
            android:name=".Student.DormitoryAffairsActivity"
            android:parentActivityName=".Student.LoginSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.LoginSActivity"/>
        </activity>
        <activity android:name=".Student.CheckEleAndWaterActivity" />
        <activity
            android:name=".Student.RepairApplicationActivity"
            android:parentActivityName=".Student.MyDormitory"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.MyDormitory"/>
        </activity>
    </application>

</manifest>